<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>load-csv</display-name>

    <servlet>
        <servlet-name>loadCsv</servlet-name>
        <servlet-class>com.loadCsv.web.LoadServlet</servlet-class>
        <init-param>
            <param-name>folder</param-name>
            <param-value>C:/Test/CSV</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>loadCsv</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>


</web-app>